*{  margin: 0;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: "MedievalSharp", cursive;
    

}

.banner{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(62, 63, 68, 0.7),rgba(4,9,30,0.7)),url(images/LakeShack.jpg);
    }
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-evenly;
    align-items: center;
}
nav img{
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Poppins',sans-serif;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff8b2c;
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
.text-box{
    width: 90%;
    color: #ffbb86;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 50px;
    color: #ff9b44;
    margin-bottom: 20px;
}
.text-box h2{
    font-size: 30px;
    color: #ffc490;
    margin-bottom: 4%;
}
.text-box p{
    margin: 30px 50px;
    font-size: 26px;
    color: #fff;
}
.video {
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(62, 63, 68, 0.7)),url(images/LakeShackInvert.jpg);
    width: 100%;
    margin: auto;
    text-align: center;
   
}
.video h2{
    font-size: 40px;
    color: #ff9b44;
    padding: 20px;
    margin-bottom: 40px;
}
.video iframe{
    margin-bottom: 40px;
}
.video p{
    font-size: 20px;
    color: #fff;
    margin-bottom: 40px;
    
}

.footer{
    background-color: #ad690a;
    text-align: center;
    padding: 50px 20px;
    color: #ffffff;
}